.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #ff0000;
  color: white;
  align-items: center;
}

.navbar-left h2 {
  font-size: 1.8rem;
  font-weight: bold;
}

.navbar-right {
  display: flex;
  gap: 20px;
}

.nav-button {
  background: none;
  color: white;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.nav-button:hover {
  color: #1db954;
  /* Spotify green */
}